body {
    background: teal; 
    text-align: center; 
    font-size: 20px;
    color: black;

    
}

h1 {
    font-family: 'Srisakdi', cursive;

}

.container {
    background: white;
    color: teal;
    width: 75%;
    height: auto;
    padding: 25px 50px 25px 50px;
    margin: 10px 10px 10px 30px;
    border-radius: 10px;
}